name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - uses: dprint/check@v2.3

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            protobuf-compiler \
            libxcb1-dev \
            libxcb-render0-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev \
            libxkbcommon-dev \
            libxkbcommon-x11-dev \
            libvulkan-dev \
            libwayland-dev \
            libdbus-1-dev

      - name: cargo clippy
        run: cargo clippy --all-features --all-targets

      - name: cargo test
        run: cargo test --all-features --all-targets
