name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Install dprint
        run: curl -fsSL https://dprint.dev/install.sh | sh -s -- --install-path /usr/local/bin

      - name: dprint check
        run: dprint check

      - name: cargo clippy
        run: cargo clippy --all-features --all-targets

      - name: cargo test
        run: cargo test --all-features --all-targets
